In [1]:
import pandas as pd


df_a = pd.read_csv('./raw_data/a_lvr_land_a.csv', encoding='utf-8')
df_b = pd.read_csv('./raw_data/b_lvr_land_a.csv', encoding='utf-8')
df_e = pd.read_csv('./raw_data/e_lvr_land_a.csv', encoding='utf-8')
df_f = pd.read_csv('./raw_data/f_lvr_land_a.csv', encoding='utf-8')
df_h = pd.read_csv('./raw_data/h_lvr_land_a.csv', encoding='utf-8')

df_a = df_a.drop(labels = 0)
df_b = df_b.drop(labels = 0)
df_e = df_e.drop(labels = 0)
df_f = df_f.drop(labels = 0)
df_h = df_h.drop(labels = 0)

In [2]:
df_a[['主要用途', '建物型態', '總樓層數']]

    主要用途             建物型態  總樓層數
1    住家用    華廈(10層含以下有電梯)    五層
2    住家用     公寓(5樓含以下無電梯)    五層
3    住家用  住宅大樓(11層含以上有電梯)  三十三層
4    住家用     公寓(5樓含以下無電梯)    五層
5    辦公用  住宅大樓(11層含以上有電梯)   十五層
..   ...              ...   ...
407  住家用    華廈(10層含以下有電梯)    八層
408  住家用  住宅大樓(11層含以上有電梯)   十五層
409  住家用  住宅大樓(11層含以上有電梯)   十七層
410  住家用    華廈(10層含以下有電梯)    六層
411  住家用    華廈(10層含以下有電梯)    六層

[411 rows x 3 columns]

In [3]:
df_all = pd.concat([df_a, df_b, df_e, df_f, df_h], axis=0, ignore_index=True)

In [4]:
filter_main_use = df_all['主要用途'] == '住家用'
filter_building_state = df_all['建物型態'].str.contains('住宅大樓')
# 住宅大樓皆為 11 層以上
filter_total_floor_number_11 = df_all['總樓層數'] != '十一層' 
filter_total_floor_number_12 = df_all['總樓層數'] != '十二層'

In [5]:
df_filter_a = df_all[(filter_main_use & filter_building_state & filter_total_floor_number_11 & filter_total_floor_number_12)]
df_filter_a[['主要用途', '建物型態', '總樓層數']][:10]

   主要用途             建物型態  總樓層數
2   住家用  住宅大樓(11層含以上有電梯)  三十三層
6   住家用  住宅大樓(11層含以上有電梯)   十三層
11  住家用  住宅大樓(11層含以上有電梯)   十五層
14  住家用  住宅大樓(11層含以上有電梯)   十五層
16  住家用  住宅大樓(11層含以上有電梯)   十五層
19  住家用  住宅大樓(11層含以上有電梯)   十三層
23  住家用  住宅大樓(11層含以上有電梯)  二十四層
28  住家用  住宅大樓(11層含以上有電梯)   十五層
45  住家用  住宅大樓(11層含以上有電梯)   二十層
64  住家用  住宅大樓(11層含以上有電梯)   十三層

In [6]:
df_filter_a.to_csv('./filter_a.csv', index=False, encoding='utf-8')

In [7]:
df_all[['交易筆棟數','總價元','車位總價元']][:10]

       交易筆棟數       總價元    車位總價元
0  土地1建物1車位0   8400000        0
1  土地1建物1車位0  19280000        0
2  土地1建物1車位2  53000000  5600000
3  土地1建物1車位0  19480000        0
4  土地2建物1車位0  12950000        0
5  土地3建物1車位1  14200000  1500000
6  土地2建物1車位0  10000000        0
7  土地1建物1車位1  36800000        0
8  土地1建物1車位1  43000000        0
9  土地2建物1車位0   4860000        0

In [8]:
# 總件數
total_count = len(df_all)

# 總車位數
# SUM(df_all['交易筆棟數'].str.split('車位')[1][1])
df_all['車位數'] = pd.to_numeric(df_all['交易筆棟數'].str.split('車位').str.get(1))
total_parking_place_count = df_all['車位數'].sum()
total_parking_place_count

3226

In [9]:
# 平均總價元
avg_total_price_ntd = round(pd.to_numeric(df_all['總價元']).sum()/total_count, 2)

In [10]:
# 平均車位總價元
avg_berth_total_price_ntd = round(pd.to_numeric(df_all['車位總價元']).sum()/total_count, 2)

In [11]:
data_b = {'總件數' : [total_count],
          '總車位數' : [total_parking_place_count],
          '平均總價元' : [avg_total_price_ntd],
          '平均車位總價元' : [avg_berth_total_price_ntd]}
df_filter_b = pd.DataFrame(data=data_b)

In [12]:
df_filter_b

    總件數  總車位數       平均總價元    平均車位總價元
0  6084  3226  15557656.4  504912.06

In [13]:
df_filter_b.to_csv('./filter_b.csv', index=False, encoding='utf-8')